In [57]:
from __future__ import division
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import scipy.optimize
import pandas.io.sql as psql
import pandas as pd
import sys
import xml.etree.ElementTree as ET
from bs4 import BeautifulSoup
import requests
import re

In [2]:
%run ../../../lib/dwh.py

In [3]:
con=get_DWH()

In [88]:
%run indebtedness.py

In [5]:
%cd  C:\Users\Sean Violante\Documents\Projects\lendico\projects\returns\src

C:\Users\Sean Violante\Documents\Projects\lendico\projects\returns\src

# XML

In [5]:
scoring=get_scoring(con)

In [7]:
loan_requests=get_loan_requests(con)

In [13]:
loan_requests1=extract_indebtedness(loan_requests)

In [14]:
loan_requests1['indebt:actual'].notnull().sum()

71

In [15]:
scoring.columns

Index([    u'dwh_country_id',                 u'id',            u'fk_user',
                  u'request',           u'response',      u'provider_name',
                u'is_failed', u'ignore_for_scoring',              u'score',
       u'data_accessible_by',         u'created_at',         u'updated_at',
              u'dwh_created',  u'dwh_last_modified',       u'dwh_row_hash',
                u'is_latest'],
      dtype='object')

In [18]:
scoring_ind=parse_scoring(scoring)

In [22]:
merkmale = extract_merkmale(scoring_ind)

In [19]:
score_merkmale=scoring[['id_loan_request',u'loan_request_nr',  u'fk_user','id', 
                        'is_failed', u'ignore_for_scoring',u'score', 'created_at' ]].\
merge(merkmale.reset_index(), on='id')

KeyError: "['id_loan_request' u'loan_request_nr'] not in index"

In [18]:
score_merkmale.to_clipboard(encoding='UTF-8')

In [23]:
merkmale.columns

Index([u'Beschreibung', u'Betrag', u'Betrag_waehrung', u'Datum',
       u'Kontonummer', u'Merkmal_eigenesMerkmal', u'Merkmal_id',
       u'Merkmal_merkmalOhneGeburtsdatum', u'Merkmal_typ', u'Merkmalcode',
       u'Ratenart', u'Ratenzahl', u'Date'],
      dtype='object')

#Not Creditworthy

In [28]:
merkmale1=calc_creditworthy(merkmale)

In [29]:
merkmale.columns

Index([u'Beschreibung', u'Betrag', u'Betrag_waehrung', u'Datum',
       u'Kontonummer', u'Merkmal_eigenesMerkmal', u'Merkmal_id',
       u'Merkmal_merkmalOhneGeburtsdatum', u'Merkmal_typ', u'Merkmalcode',
       u'Ratenart', u'Ratenzahl', u'Date', u'not_creditworthy',
       u'not_creditworthy_US', u'not_creditworthy_KRMLKWKX_US'],
      dtype='object')

KR, ML with US

In [23]:
RK=match_id(merkmale, merkmale.Merkmalcode.isin(['RK']))
RK.Merkmalcode.unique()

array(['XX', 'RK', 'ER'], dtype=object)

In [24]:
US_cases=match_id(merkmale, merkmale.Merkmalcode.isin(['US']))
US_cases.Merkmalcode.unique()

array(['KW', 'SD', 'US', 'SG', 'SE', 'ER', 'KR'], dtype=object)

In [25]:
US_cases[US_cases.Merkmal_typ=='hauptmerkmal'].Merkmalcode.unique()

array(['KW', 'KR'], dtype=object)

In [30]:
not_creditworthy_user=merkmale.groupby(level=['dwh_country_id','id'])['not_creditworthy',
                                                               'not_creditworthy_US',
                                                               'not_creditworthy_KRMLKWKX_US'].max()
# use max to find user with at least one row labelled not creditworthy
not_creditworthy_user.sum()

not_creditworthy                4393
not_creditworthy_US               18
not_creditworthy_KRMLKWKX_US     315
dtype: float64

In [31]:
not_creditworthy_user.shape

(7410, 3)

In [27]:
merkmale.Merkmal_typ[merkmale.Merkmalcode=='RK'].unique()

array(['untermerkmal'], dtype=object)

In [431]:
132/3431

0.03847274846983387

## Additional Limit

In [34]:
additional_limit_outstanding_user=calc_additional_limit(merkmale)

In [30]:
additional_limit_outstanding_user.head()

dwh_country_id  id
1               97971    11000
                97973     7300
                97976     8000
                97991     2659
                97996     6000
Name: add_Betrag, dtype: float64

In [386]:
additional_limit_outstanding_user.head()

dwh_country_id  id
1               96444     3000
                96450     1000
                96452     1200
                96462    40000
                96463     7700
Name: Betrag, dtype: float64

In [373]:
print additional_limit.shape
print additional_limit_paid_off.shape
print additional_limit_outstanding.shape

(2585, 13)
(635, 13)
(1950, 14)

## Line of Credit

In [363]:
match_id(merkmale, merkmale.Merkmalcode.isin(['KG'])).Merkmalcode.unique()

array(['GI', 'KG', 'XX'], dtype=object)

In [38]:
LOC_outstanding_user=calc_LOC(merkmale)

In [103]:
LOC_outstanding[LOC_outstanding.Merkmalcode=='KG']

                            Beschreibung  Betrag Betrag_waehrung Datum  \
dwh_country_id id    record
1              99197 6         Girokonto     NaN             NaN   NaN
               99210 1         Girokonto     NaN             NaN   NaN
               99216 1         Girokonto     NaN             NaN   NaN
                     2         Girokonto     NaN             NaN   NaN
               99208 4         Girokonto     NaN             NaN   NaN

                            Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id    record
1              99197 6              NaN                    NaN           5
               99210 1              NaN                    NaN           2
               99216 1              NaN                    NaN           2
                     2              NaN                    NaN           3
               99208 4              NaN                    NaN           4

                            Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id    record
1              99197 6                                  NaN  hauptmerkmal
               99210 1                                  NaN  hauptmerkmal
               99216 1                                  NaN  hauptmerkmal
                     2                                  NaN  hauptmerkmal
               99208 4                                  NaN  hauptmerkmal

                            Merkmalcode Ratenart Ratenzahl not_creditworthy  \
dwh_country_id id    record
1              99197 6               GI      NaN       NaN            False
               99210 1               GI      NaN       NaN            False
               99216 1               GI      NaN       NaN            False
                     2               GI      NaN       NaN            False
               99208 4               GI      NaN       NaN            False

                            not_creditworthy_US not_creditworthy_KRMLKWKX_US  \
dwh_country_id id    record
1              99197 6                      NaN                          NaN
               99210 1                      NaN                          NaN
               99216 1                      NaN                          NaN
                     2                      NaN                          NaN
               99208 4                      NaN                          NaN

                            paid
dwh_country_id id    record
1              99197 6       NaN
               99210 1       NaN
               99216 1       NaN
                     2       NaN
               99208 4       NaN

In [ ]:
# LOC can be time limited too?

In [101]:
LOC[LOC.Merkmalcode=='KG']

                                      Beschreibung  Betrag Betrag_waehrung  \
dwh_country_id id     record
1              99219  11      Kredit zum Girokonto    9900             EUR
               99278  1       Kredit zum Girokonto    6000             EUR
               99315  7       Kredit zum Girokonto    5000             EUR
               99313  6       Kredit zum Girokonto    1500             EUR
               99333  2       Kredit zum Girokonto    1000             EUR
               99354  1       Kredit zum Girokonto     475             EUR
               99365  14      Kredit zum Girokonto    3400             EUR
               99380  5       Kredit zum Girokonto     100             EUR
               99392  12      Kredit zum Girokonto    3000             EUR
                      14      Kredit zum Girokonto    3000             EUR
               99412  8       Kredit zum Girokonto    1000             EUR
               99414  4       Kredit zum Girokonto    2000             EUR
               97137  19      Kredit zum Girokonto    3800             EUR
               98002  2       Kredit zum Girokonto    1000             EUR
               98139  2       Kredit zum Girokonto    1500             EUR
               98239  25      Kredit zum Girokonto    2000             EUR
               98242  2       Kredit zum Girokonto    3000             EUR
               98705  3       Kredit zum Girokonto     500             EUR
               98906  3       Kredit zum Girokonto    1000             EUR
               98909  6       Kredit zum Girokonto    7700             EUR
               99024  8       Kredit zum Girokonto    2000             EUR
               99125  2       Kredit zum Girokonto    1500             EUR
               96445  6       Kredit zum Girokonto    3800             EUR
               96450  6       Kredit zum Girokonto     200             EUR
               96481  5       Kredit zum Girokonto    1000             EUR
               96482  7       Kredit zum Girokonto    1000             EUR
               96495  2       Kredit zum Girokonto     200             EUR
               96521  13      Kredit zum Girokonto     400             EUR
               96522  5       Kredit zum Girokonto    2500             EUR
               96526  1       Kredit zum Girokonto     700             EUR
...                                            ...     ...             ...
               100982 1       Kredit zum Girokonto    6400             EUR
               100917 3       Kredit zum Girokonto    1000             EUR
                      6       Kredit zum Girokonto     500             EUR
               100957 3       Kredit zum Girokonto    1900             EUR
               100967 6       Kredit zum Girokonto    1000             EUR
               100954 4       Kredit zum Girokonto     500             EUR
               100937 8       Kredit zum Girokonto   10000             EUR
                      11      Kredit zum Girokonto    7000             EUR
               101032 18      Kredit zum Girokonto     500             EUR
               101043 2       Kredit zum Girokonto    7500             EUR
               101001 13      Kredit zum Girokonto    5000             EUR
               101090 3       Kredit zum Girokonto     500             EUR
               101115 12      Kredit zum Girokonto     250             EUR
               101117 12      Kredit zum Girokonto     250             EUR
               101070 2       Kredit zum Girokonto    5500             EUR
               101101 2       Kredit zum Girokonto     500             EUR
               101062 9       Kredit zum Girokonto    2500             EUR
               101008 6       Kredit zum Girokonto    2400             EUR
               100925 12      Kredit zum Girokonto    1000             EUR
               101147 7       Kredit zum Girokonto    6000             EUR
               101148 8       Kredit zum Girokonto    3000             EUR
               101244 47      Kredit zum Girokonto    2000             EUR
               101250 3       Kredit zum Girokonto    1000             EUR
               101252 7       Kredit zum Girokonto     500             EUR
               101198 32      Kredit zum Girokonto     400             EUR
               101214 4       Kredit zum Girokonto    1000             EUR
               101285 9       Kredit zum Girokonto     500             EUR
               101303 2       Kredit zum Girokonto    2000             EUR
               101277 2       Kredit zum Girokonto    3000             EUR
               101342 5       Kredit zum Girokonto    5200             EUR

                                    Datum Kontonummer Merkmal_eigenesMerkmal  \
dwh_country_id id     record
1              99219  11      UNBEFRISTET         NaN                    NaN
               99278  1       UNBEFRISTET         NaN                    NaN
               99315  7       UNBEFRISTET         NaN                    NaN
               99313  6       UNBEFRISTET         NaN                    NaN
               99333  2       UNBEFRISTET         NaN                    NaN
               99354  1        24.07.2015         NaN                    NaN
               99365  14      UNBEFRISTET         NaN                    NaN
               99380  5       UNBEFRISTET         NaN                    NaN
               99392  12      UNBEFRISTET         NaN                    NaN
                      14      UNBEFRISTET         NaN                    NaN
               99412  8       UNBEFRISTET         NaN                    NaN
               99414  4       UNBEFRISTET         NaN                    NaN
               97137  19      UNBEFRISTET         NaN                    NaN
               98002  2       UNBEFRISTET         NaN                    NaN
               98139  2       UNBEFRISTET         NaN                    NaN
               98239  25      UNBEFRISTET         NaN                    NaN
               98242  2       UNBEFRISTET         NaN                    NaN
               98705  3       UNBEFRISTET         NaN                    NaN
               98906  3       UNBEFRISTET         NaN                    NaN
               98909  6       UNBEFRISTET         NaN                    NaN
               99024  8       UNBEFRISTET         NaN                    NaN
               99125  2       UNBEFRISTET         NaN                    NaN
               96445  6       UNBEFRISTET         NaN                    NaN
               96450  6       UNBEFRISTET         NaN                    NaN
               96481  5       UNBEFRISTET         NaN                    NaN
               96482  7       UNBEFRISTET         NaN                    NaN
               96495  2       UNBEFRISTET         NaN                    NaN
               96521  13      UNBEFRISTET         NaN                    NaN
               96522  5       UNBEFRISTET         NaN                    NaN
               96526  1       UNBEFRISTET         NaN                    NaN
...                                   ...         ...                    ...
               100982 1       UNBEFRISTET         NaN                    NaN
               100917 3       UNBEFRISTET         NaN                    NaN
                      6       UNBEFRISTET         NaN                    NaN
               100957 3       UNBEFRISTET         NaN                    NaN
               100967 6       UNBEFRISTET         NaN                    NaN
               100954 4       UNBEFRISTET         NaN                    NaN
               100937 8       UNBEFRISTET         NaN                    NaN
                      11      UNBEFRISTET         NaN                    NaN
               101032 18      UNBEFRISTET         NaN                    NaN
               101043 2       UNBEFRISTET         NaN                    NaN
               101001 13      UNBEFRISTET         NaN                    NaN
               101090 3       UNBEFRISTET         NaN                    NaN
               101115 12      UNBEFRISTET         NaN                    NaN
               101117 12      UNBEFRISTET         NaN                    NaN
               101070 2       UNBEFRISTET         NaN                    NaN
               101101 2       UNBEFRISTET         NaN                    NaN
               101062 9       UNBEFRISTET         NaN                    NaN
               101008 6       UNBEFRISTET         NaN                    NaN
               100925 12      UNBEFRISTET         NaN                    NaN
               101147 7       UNBEFRISTET         NaN                    NaN
               101148 8       UNBEFRISTET         NaN                    NaN
               101244 47      UNBEFRISTET         NaN                    NaN
               101250 3       UNBEFRISTET         NaN                    NaN
               101252 7       UNBEFRISTET         NaN                    NaN
               101198 32      UNBEFRISTET         NaN                    NaN
               101214 4       UNBEFRISTET         NaN                    NaN
               101285 9       UNBEFRISTET         NaN                    NaN
               101303 2       UNBEFRISTET         NaN                    NaN
               101277 2       UNBEFRISTET         NaN                    NaN
               101342 5       UNBEFRISTET         NaN                    NaN

                              Merkmal_id Merkmal_merkmalOhneGeburtsdatum  \
dwh_country_id id     record
1              99219  11               9                             NaN
               99278  1                1                             NaN
               99315  7                6                             NaN
               99313  6                5                             NaN
               99333  2                2                             NaN
               99354  1                1                             NaN
               99365  14               9                             NaN
               99380  5                5                             NaN
               99392  12              10                             NaN
                      14              11                             NaN
               99412  8                6                             NaN
               99414  4                3                             NaN
               97137  19              12                             NaN
               98002  2                2                             NaN
               98139  2                2                             NaN
               98239  25              15                             NaN
               98242  2                2                             NaN
               98705  3                3                             NaN
               98906  3                3                             NaN
               98909  6                4                             NaN
               99024  8                5                             NaN
               99125  2                2                             NaN
               96445  6                4                             NaN
               96450  6                5                             NaN
               96481  5                5                             NaN
               96482  7                4                             NaN
               96495  2                2                             NaN
               96521  13               9                             NaN
               96522  5                4                             NaN
               96526  1                1                             NaN
...                                  ...                             ...
               100982 1                1                             NaN
               100917 3                3                             NaN
                      6                5                             NaN
               100957 3                2                             NaN
               100967 6                6                             NaN
               100954 4                4                             NaN
               100937 8                7                             NaN
                      11               9                             NaN
               101032 18              13                             NaN
               101043 2                2                             NaN
               101001 13               8                             NaN
               101090 3                3                             NaN
               101115 12               8                             NaN
               101117 12               8                             NaN
               101070 2                2                             NaN
               101101 2                2                             NaN
               101062 9                6                             NaN
               101008 6                5                             NaN
               100925 12               5                             NaN
               101147 7                2                             NaN
               101148 8                5                             NaN
               101244 47              31                             NaN
               101250 3                3                             NaN
               101252 7                5                             NaN
               101198 32               2                             NaN
               101214 4                4                             NaN
               101285 9                7                             NaN
               101303 2                2                             NaN
               101277 2                2                             NaN
               101342 5                5                             NaN

                               Merkmal_typ Merkmalcode Ratenart Ratenzahl  \
dwh_country_id id     record
1              99219  11      untermerkmal          KG      NaN       NaN
               99278  1       untermerkmal          KG      NaN       NaN
               99315  7       untermerkmal          KG      NaN       NaN
               99313  6       untermerkmal          KG      NaN       NaN
               99333  2       untermerkmal          KG      NaN       NaN
               99354  1       untermerkmal          KG      NaN       NaN
               99365  14      untermerkmal          KG      NaN       NaN
               99380  5       untermerkmal          KG      NaN       NaN
               99392  12      untermerkmal          KG      NaN       NaN
                      14      untermerkmal          KG      NaN       NaN
               99412  8       untermerkmal          KG      NaN       NaN
               99414  4       untermerkmal          KG      NaN       NaN
               97137  19      untermerkmal          KG      NaN       NaN
               98002  2       untermerkmal          KG      NaN       NaN
               98139  2       untermerkmal          KG      NaN       NaN
               98239  25      untermerkmal          KG      NaN       NaN
               98242  2       untermerkmal          KG      NaN       NaN
               98705  3       untermerkmal          KG      NaN       NaN
               98906  3       untermerkmal          KG      NaN       NaN
               98909  6       untermerkmal          KG      NaN       NaN
               99024  8       untermerkmal          KG      NaN       NaN
               99125  2       untermerkmal          KG      NaN       NaN
               96445  6       untermerkmal          KG      NaN       NaN
               96450  6       untermerkmal          KG      NaN       NaN
               96481  5       untermerkmal          KG      NaN       NaN
               96482  7       untermerkmal          KG      NaN       NaN
               96495  2       untermerkmal          KG      NaN       NaN
               96521  13      untermerkmal          KG      NaN       NaN
               96522  5       untermerkmal          KG      NaN       NaN
               96526  1       untermerkmal          KG      NaN       NaN
...                                    ...         ...      ...       ...
               100982 1       untermerkmal          KG      NaN       NaN
               100917 3       untermerkmal          KG      NaN       NaN
                      6       untermerkmal          KG      NaN       NaN
               100957 3       untermerkmal          KG      NaN       NaN
               100967 6       untermerkmal          KG      NaN       NaN
               100954 4       untermerkmal          KG      NaN       NaN
               100937 8       untermerkmal          KG      NaN       NaN
                      11      untermerkmal          KG      NaN       NaN
               101032 18      untermerkmal          KG      NaN       NaN
               101043 2       untermerkmal          KG      NaN       NaN
               101001 13      untermerkmal          KG      NaN       NaN
               101090 3       untermerkmal          KG      NaN       NaN
               101115 12      untermerkmal          KG      NaN       NaN
               101117 12      untermerkmal          KG      NaN       NaN
               101070 2       untermerkmal          KG      NaN       NaN
               101101 2       untermerkmal          KG      NaN       NaN
               101062 9       untermerkmal          KG      NaN       NaN
               101008 6       untermerkmal          KG      NaN       NaN
               100925 12      untermerkmal          KG      NaN       NaN
               101147 7       untermerkmal          KG      NaN       NaN
               101148 8       untermerkmal          KG      NaN       NaN
               101244 47      untermerkmal          KG      NaN       NaN
               101250 3       untermerkmal          KG      NaN       NaN
               101252 7       untermerkmal          KG      NaN       NaN
               101198 32      untermerkmal          KG      NaN       NaN
               101214 4       untermerkmal          KG      NaN       NaN
               101285 9       untermerkmal          KG      NaN       NaN
               101303 2       untermerkmal          KG      NaN       NaN
               101277 2       untermerkmal          KG      NaN       NaN
               101342 5       untermerkmal          KG      NaN       NaN

                             not_creditworthy not_creditworthy_US  \
dwh_country_id id     record
1              99219  11                False                 NaN
               99278  1                 False                 NaN
               99315  7                 False                 NaN
               99313  6                 False                 NaN
               99333  2                 False                 NaN
               99354  1                 False                 NaN
               99365  14                False                 NaN
               99380  5                 False                 NaN
               99392  12                False                 NaN
                      14                False                 NaN
               99412  8                 False                 NaN
               99414  4                 False                 NaN
               97137  19                False                 NaN
               98002  2                 False                 NaN
               98139  2                 False                 NaN
               98239  25                False                 NaN
               98242  2                 False                 NaN
               98705  3                 False                 NaN

In [105]:
LOC.shape

(4999, 15)

##Net Loans

In [32]:
net_loans=match_id(merkmale, merkmale.Merkmalcode.isin(['KR','ML']))
net_loans_exclude_US=drop_id(net_loans,net_loans.Merkmalcode=='US')
net_loans_exclude_US_outstanding=drop_paid_off(net_loans_exclude_US)

In [121]:
net_loans_exclude_US_outstanding.head()

                            Beschreibung  Betrag Betrag_waehrung       Datum  \
dwh_country_id id    record
1              99197 4            Kredit    5364             EUR  01.09.2014
                     5            Kredit   27197             EUR  01.10.2014
               99210 0            Kredit    2299             EUR  15.05.2015
               99216 0            Kredit    5000             EUR  15.11.2013
               99208 2            Kredit    4869             EUR  01.06.2014

                            Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id    record
1              99197 4              NaN                    NaN           3
                     5              NaN                    NaN           4
               99210 0              NaN                    NaN           1
               99216 0              NaN                    NaN           1
               99208 2              NaN                    NaN           2

                            Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id    record
1              99197 4                                  NaN  hauptmerkmal
                     5                                  NaN  hauptmerkmal
               99210 0                                  NaN  hauptmerkmal
               99216 0                                  NaN  hauptmerkmal
               99208 2                                  NaN  hauptmerkmal

                            Merkmalcode Ratenart Ratenzahl not_creditworthy  \
dwh_country_id id    record
1              99197 4               KR        M        69            False
                     5               KR        M        84            False
               99210 0               KR        M        36            False
               99216 0               KR        M        60            False
               99208 2               KR        M        36            False

                            not_creditworthy_US not_creditworthy_KRMLKWKX_US
dwh_country_id id    record
1              99197 4                    False                        False
                     5                    False                        False
               99210 0                    False                        False
               99216 0                    False                        False
               99208 2                    False                        False

In [123]:
net_loans_exclude_US_outstanding.Beschreibung.unique()

array(['Kredit', 'Leasing', u'Saldo nach Gesamtf\xe4lligstellung',
       u'\xdcbergabe an ein Inkassounternehmen/eine interne Inkassostelle zur Beitreibung',
       'titulierter Saldo', 'Saldo', 'Forderungsverkauf',
       'uneinbringliche titulierte Forderung / Einzug unwirtschaftlich',
       'Widerspruch zum Saldo',
       u'R\xfcckgabe vom Inkassounternehmen/von einer internen Inkassostelle an den Gl\xe4ubiger'], dtype=object)

In [34]:
12+7-9+1

11

In [245]:
a=net_loans_exclude_US_outstanding[net_loans_exclude_US_outstanding.Ratenart=='J']
a.to_clipboard()

In [169]:
net_loans_exclude_US_outstanding.Ratenart.unique()

array(['M', nan, 'J'], dtype=object)

In [185]:
91//12

7

In [191]:
net_loans_exclude_US_outstanding.loc[KR_select & (net_loans_exclude_US_outstanding.Ratenart=='J')]

                            Beschreibung  Betrag Betrag_waehrung       Datum  \
dwh_country_id id    record
1              99315 0            Kredit   60000             EUR  30.12.2007
               96453 0            Kredit    7414             EUR  31.03.2001
               96780 2            Kredit   20250             EUR  28.02.2010
               98778 0            Kredit    9900             EUR  31.05.2014

                            Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id    record
1              99315 0              NaN                    NaN           1
               96453 0              NaN                    NaN           1
               96780 2              NaN                    NaN           3
               98778 0              NaN                    NaN           1

                            Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id    record
1              99315 0                                  NaN  hauptmerkmal
               96453 0                                  NaN  hauptmerkmal
               96780 2                                  NaN  hauptmerkmal
               98778 0                                  NaN  hauptmerkmal

                            Merkmalcode Ratenart  Ratenzahl not_creditworthy  \
dwh_country_id id    record
1              99315 0               KR        J          8            False
               96453 0               KR        J         15            False
               96780 2               KR        J          8            False
               98778 0               KR        J         10            False

                            not_creditworthy_US not_creditworthy_KRMLKWKX_US  \
dwh_country_id id    record
1              99315 0                    False                        False
               96453 0                    False                        False
               96780 2                    False                        False
               98778 0                    False                        False

                                  Date  paid_installments  installment
dwh_country_id id    record
1              99315 0      2007-12-30                  7         9750
               96453 0      2001-03-31                 14          642
               96780 2      2010-02-28                  5         3290
               98778 0      2014-05-31                  1         1287

In [78]:
net_loans_exclude_US_outstanding.xs(99550,level='id').to_clipboard()

In [69]:
lr=118813
loan_requests[loan_requests.id_loan_request==lr]

Empty DataFrame
Columns: [id_loan_request, loan_request_nr, fk_user, id, principal_amount, net_income, postcheck_data]
Index: []

In [206]:
id=99315
loan_requests[loan_requests.id==id]

    id_loan_request  loan_request_nr  fk_user     id
62           122080        767115004   137604  99315

In [67]:
net_loans_exclude_US_outstanding.head()

                            Beschreibung  Betrag Betrag_waehrung       Datum  \
dwh_country_id id    record
1              99197 4            Kredit    5364             EUR  01.09.2014
                     5            Kredit   27197             EUR  01.10.2014
               99210 0            Kredit    2299             EUR  15.05.2015
               99216 0            Kredit    5000             EUR  15.11.2013
               99208 2            Kredit    4869             EUR  01.06.2014

                            Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id    record
1              99197 4              NaN                    NaN           3
                     5              NaN                    NaN           4
               99210 0              NaN                    NaN           1
               99216 0              NaN                    NaN           1
               99208 2              NaN                    NaN           2

                            Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id    record
1              99197 4                                  NaN  hauptmerkmal
                     5                                  NaN  hauptmerkmal
               99210 0                                  NaN  hauptmerkmal
               99216 0                                  NaN  hauptmerkmal
               99208 2                                  NaN  hauptmerkmal

                            Merkmalcode    ...     not_creditworthy_all  \
dwh_country_id id    record                ...
1              99197 4               KR    ...                    False
                     5               KR    ...                    False
               99210 0               KR    ...                    False
               99216 0               KR    ...                    False
               99208 2               KR    ...                    False

                             paid_installments Ratenzahl_Month installment  \
dwh_country_id id    record
1              99197 4                      11              69         101
                     5                      10              84         420
               99210 0                       3              36          83
               99216 0                      21              60         108
               99208 2                      14              36         175

                            loan_gross_amount loan_gross_outstanding_amount  \
dwh_country_id id    record
1              99197 4                   6969                          5858
                     5                  35280                         31080
               99210 0                   2988                          2739
               99216 0                   6480                          4212
               99208 2                   6300                          3850

                            outstanding_installments  interest  \
dwh_country_id id    record
1              99197 4                            58      1605
                     5                            74      8083
               99210 0                            33       689
               99216 0                            39      1480
               99208 2                            22      1431

                             interest_allowance  net_value
dwh_country_id id    record
1              99197 4                   986.93    4871.07
                     5                  5626.40   25453.60
               99210 0                   450.02    2288.98
               99216 0                   509.51    3702.49
               99208 2                   367.42    3482.58

[5 rows x 26 columns]

In [50]:
%run indebtedness.py

In [239]:
merkmale.xs(96439,level='id')

                                          Beschreibung  Betrag  \
dwh_country_id record
1              0              Kredit mit Endflligkeit     100
               1                              Erledigt     NaN
               2              Kredit mit Endflligkeit     100
               3                              Erledigt     NaN
               4              Kredit mit Endflligkeit     100
               5                              Erledigt     NaN
               6              Kredit mit Endflligkeit     200
               7                              Erledigt     NaN
               8              Kredit mit Endflligkeit     200
               9                              Erledigt     NaN
               10             Kredit mit Endflligkeit     200
               11                             Erledigt     NaN
               12             Kredit mit Endflligkeit     200
               13      Saldo nach Gesamtflligstellung     300
               14                            Girokonto     NaN

                      Betrag_waehrung        Datum Kontonummer  \
dwh_country_id record
1              0                  EUR  UNBEFRISTET         NaN
               1                  NaN   05.08.2014         NaN
               2                  EUR  UNBEFRISTET         NaN
               3                  NaN   05.09.2014         NaN
               4                  EUR  UNBEFRISTET         NaN
               5                  NaN   02.10.2014         NaN
               6                  EUR  UNBEFRISTET         NaN
               7                  NaN   03.11.2014         NaN
               8                  EUR  UNBEFRISTET         NaN
               9                  NaN   04.12.2014         NaN
               10                 EUR  UNBEFRISTET         NaN
               11                 NaN   06.01.2015         NaN
               12                 EUR  UNBEFRISTET         NaN
               13                 EUR   26.03.2015         NaN
               14                 NaN          NaN         NaN

                      Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id record
1              0                         NaN           1
               1                         NaN           1
               2                         NaN           2
               3                         NaN           2
               4                         NaN           3
               5                         NaN           3
               6                         NaN           4
               7                         NaN           4
               8                         NaN           5
               9                         NaN           5
               10                        NaN           6
               11                        NaN           6
               12                        NaN           7
               13                        NaN           7
               14                        NaN           8

                      Merkmal_merkmalOhneGeburtsdatum         Merkmal_typ  \
dwh_country_id record
1              0                                  NaN        hauptmerkmal
               1                                  NaN  erledigungsmerkmal
               2                                  NaN        hauptmerkmal
               3                                  NaN  erledigungsmerkmal
               4                                  NaN        hauptmerkmal
               5                                  NaN  erledigungsmerkmal
               6                                  NaN        hauptmerkmal
               7                                  NaN  erledigungsmerkmal
               8                                  NaN        hauptmerkmal
               9                                  NaN  erledigungsmerkmal
               10                                 NaN        hauptmerkmal
               11                                 NaN  erledigungsmerkmal
               12                                 NaN        hauptmerkmal
               13                                 NaN        untermerkmal
               14                                 NaN        hauptmerkmal

                      Merkmalcode Ratenart  Ratenzahl not_creditworthy  \
dwh_country_id record
1              0               KX      NaN        NaN            False
               1               ER      NaN        NaN            False
               2               KX      NaN        NaN            False
               3               ER      NaN        NaN            False
               4               KX      NaN        NaN            False
               5               ER      NaN        NaN            False
               6               KX      NaN        NaN            False
               7               ER      NaN        NaN            False
               8               KX      NaN        NaN            False
               9               ER      NaN        NaN            False
               10              KX      NaN        NaN            False
               11              ER      NaN        NaN            False
               12              KX      NaN        NaN            False
               13              SG      NaN        NaN            False
               14              GI      NaN        NaN            False

                      not_creditworthy_US not_creditworthy_KRMLKWKX_US  \
dwh_country_id record
1              0                      NaN                        False
               1                      NaN                        False
               2                      NaN                        False
               3                      NaN                        False
               4                      NaN                        False
               5                      NaN                        False
               6                      NaN                        False
               7                      NaN                        False
               8                      NaN                        False
               9                      NaN                        False
               10                     NaN                        False
               11                     NaN                        False
               12                     NaN                        False
               13                     NaN                        False
               14                     NaN                          NaN

                            Date
dwh_country_id record
1              0             NaT
               1      2014-08-05
               2             NaT
               3      2014-09-05
               4             NaT
               5      2014-10-02
               6             NaT
               7      2014-11-03
               8             NaT
               9      2014-12-04
               10            NaT
               11     2015-01-06
               12            NaT
               13     2015-03-26
               14            NaT

In [240]:
loan_requests[loan_requests.id==96439]

     id_loan_request  loan_request_nr  fk_user     id  principal_amount
348           118766        484010163   134308  96439              3000

In [52]:
tod

'20150803'

In [47]:
net_loans_exclude_US_outstanding_user = calc_net_loans(merkmale, '2015-08-03')

In [48]:
loan_requests_indebtedness = calc_indebtedness(loan_requests1, not_creditworthy_user, 
                      additional_limit_outstanding_user,  
                      LOC_outstanding_user, 
                      net_loans_exclude_US_outstanding_user)

In [51]:
tod=today_str()

In [55]:
loan_requests_indebtedness.to_csv('loan_requests_indebtedness_all_user_{}.csv'.format(tod),encoding='UTF-8')

In [54]:
scoring.to_csv('scoring_{}.csv'.format(tod),encoding='UTF-8')
loan_requests1.to_csv('loan_requests1_{}.csv'.format(tod),encoding='UTF-8')
#scoring_ind.to_csv('scoring_ind_{}.csv'.format(tod),encoding='UTF-8')
merkmale.to_csv('merkmale_{}.csv'.format(tod),encoding='UTF-8')
#all_user.to_csv('all_user_{}.csv'.format(tod),encoding='UTF-8')
loan_requests_indebtedness.to_csv('loan_requests_indebtedness_all_user_{}.csv'.format(tod),encoding='UTF-8')

NameError: name 'lr_all_user' is not defined

In [ ]:
/html/body/table/tbody
<tr><th colspan="2">Indebtedness</th><th colspan="2">Indebtedness Ratio</th></tr>

<tbody><tr><th colspan="2">Indebtedness</th><th colspan="2">Indebtedness Ratio</th></tr>
        <tr><td>Net Debt</td><td>13.555,91 </td><td>Debt Ratio</td><td>9,68%</td></tr>
        <tr><td>Net Loan Values</td><td>10.555,91 </td><td>Debt Calculation</td><td>13555.9121 / 1400</td></tr>
        <tr><td>Net Lendico Loan</td><td>3.000,00 </td><td></td><td></td></tr>
        <tr><td>Line of Credit</td><td>0,00 </td><td></td><td></td></tr>
        <tr><td>Additional Limit</td><td>0,00 </td><td></td><td></td></tr>
        <tr><td>Net Income</td><td>1.400,00 </td><td></td><td></td></tr>
        <tr><td>Creditworthy?</td><td>Yes</td><td></td><td></td></tr>
    </tbody>
    
//th[text()='2']/following-sibling::td[1]

In [61]:
merkmale.head()

                                 Beschreibung  Betrag Betrag_waehrung  \
dwh_country_id id    record
1              99213 0       Abwicklungskonto     NaN             NaN
                     1                  Saldo    3671             EUR
                     2                  Saldo    3715             EUR
                     3                  Saldo    3760             EUR
                     4                  Saldo    3850             EUR

                                  Datum Kontonummer Merkmal_eigenesMerkmal  \
dwh_country_id id    record
1              99213 0       02.12.2006         NaN                    NaN
                     1       31.03.2011         NaN                    NaN
                     2       30.06.2011         NaN                    NaN
                     3       30.09.2011         NaN                    NaN
                     4       31.03.2012         NaN                    NaN

                             Merkmal_id Merkmal_merkmalOhneGeburtsdatum  \
dwh_country_id id    record
1              99213 0                1                             NaN
                     1                1                             NaN
                     2                1                             NaN
                     3                1                             NaN
                     4                1                             NaN

                              Merkmal_typ Merkmalcode Ratenart  Ratenzahl  \
dwh_country_id id    record
1              99213 0       hauptmerkmal          KW      NaN        NaN
                     1       untermerkmal          SD      NaN        NaN
                     2       untermerkmal          SD      NaN        NaN
                     3       untermerkmal          SD      NaN        NaN
                     4       untermerkmal          SD      NaN        NaN

                                  Date not_creditworthy not_creditworthy_US  \
dwh_country_id id    record
1              99213 0      2006-12-02             True                 NaN
                     1      2011-03-31            False                 NaN
                     2      2011-06-30            False                 NaN
                     3      2011-09-30            False                 NaN
                     4      2012-03-31            False                 NaN

                            not_creditworthy_KRMLKWKX_US not_creditworthy_all
dwh_country_id id    record
1              99213 0                             False                 True
                     1                             False                False
                     2                             False                False
                     3                             False                False
                     4                             False                False

In [63]:
lr=126064
loan_requests1[loan_requests1.id_loan_request==lr]

,id_loan_request,loan_request_nr,fk_user,id,principal_amount,net_income,postcheck_data,indebt:actual,indebt:expected,indebt:operator,indebt:status
420,126064,331860036,141645,102485,5000,1400,null,NaN,NaN,None,None
425,126064,331860036,141645,102485,5000,1400,"[{""status"":true,""actual"":""salaried"",""expected""...",11.11,14,<=,True

In [76]:
merkmale.xs(99550,level='id').to_clipboard()

In [75]:
lr_all_user[lr_all_user['indebt:actual'].notnull()].to_clipboard()

In [316]:
loan_requests1.shape

(3340, 11)

In [41]:
(loan_requests.postcheck_data!='null').sum()

224

In [244]:
lr_all_user[lr_all_user.id_loan_request==120973].T.to_clipboard()

In [217]:
net_loans_exclude_US_outstanding_user.head()

                      Betrag  loan_gross_amount  \
dwh_country_id id
1              96442   33975              44016
               96443    8844                NaN
               96444     183                230
               96445   28749              21720
               96446   20000              25956

                      loan_gross_outstanding_amount  interest  \
dwh_country_id id
1              96442                          35894     10041
               96443                            NaN       NaN
               96444                              0        47
               96445                           7610      4943
               96446                          24411      5956

                      interest_allowance  net_value
dwh_country_id id
1              96442             6302.86   29591.14
               96443                 NaN        NaN
               96444                5.13       0.00
               96445              492.99    7117.01
               96446             4754.79   19656.21

In [178]:
net_loans_exclude_US_outstanding.loc[KR_select].head()

                            Beschreibung  Betrag Betrag_waehrung       Datum  \
dwh_country_id id    record
1              99197 4            Kredit    5364             EUR  01.09.2014
                     5            Kredit   27197             EUR  01.10.2014
               99210 0            Kredit    2299             EUR  15.05.2015
               99216 0            Kredit    5000             EUR  15.11.2013
               99208 2            Kredit    4869             EUR  01.06.2014

                            Kontonummer Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id    record
1              99197 4              NaN                    NaN           3
                     5              NaN                    NaN           4
               99210 0              NaN                    NaN           1
               99216 0              NaN                    NaN           1
               99208 2              NaN                    NaN           2

                            Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id    record
1              99197 4                                  NaN  hauptmerkmal
                     5                                  NaN  hauptmerkmal
               99210 0                                  NaN  hauptmerkmal
               99216 0                                  NaN  hauptmerkmal
               99208 2                                  NaN  hauptmerkmal

                            Merkmalcode Ratenart Ratenzahl not_creditworthy  \
dwh_country_id id    record
1              99197 4               KR        M        69            False
                     5               KR        M        84            False
               99210 0               KR        M        36            False
               99216 0               KR        M        60            False
               99208 2               KR        M        36            False

                            not_creditworthy_US not_creditworthy_KRMLKWKX_US  \
dwh_country_id id    record
1              99197 4                    False                        False
                     5                    False                        False
               99210 0                    False                        False
               99216 0                    False                        False
               99208 2                    False                        False

                                  Date  paid_installments
dwh_country_id id    record
1              99197 4      2014-09-01                 11
                     5      2014-10-01                 10
               99210 0      2015-05-15                  3
               99216 0      2013-11-15                 21
               99208 2      2014-06-01                 14

In [306]:
loan_requests[loan_requests.id_loan_request==122466]

,id_loan_request,loan_request_nr,fk_user,id,principal_amount,net_income,postcheck_data
6687,122466,44200180,7001,99634,1500,2198,"[{""status"":true,""actual"":""retired"",""expected"":..."
6693,122466,44200180,7001,99634,1500,2198,null

In [125]:
z1=match_id(net_loans_exclude_US_outstanding,net_loans_exclude_US_outstanding.Beschreibung==u'R\xfcckgabe vom Inkassounternehmen/von einer internen Inkassostelle an den Gl\xe4ubiger')
z1

                                                                   Beschreibung  \
dwh_country_id id     record
1              100654 3                                                  Kredit
                      4                         Saldo nach Gesamtflligstellung
                      5                                                   Saldo
                      6                                                   Saldo
                      7                                                   Saldo
                      8                                                   Saldo
                      9                                                   Saldo
                      10                                                  Saldo
                      11                                                  Saldo
                      12                                                  Saldo
                      13                                                  Saldo
                      14                                                  Saldo
                      15                                                  Saldo
                      16                                                  Saldo
                      17                                                  Saldo
                      18                                                  Saldo
                      19                                                  Saldo
                      20                                                  Saldo
                      21                                                  Saldo
                      22                                                  Saldo
                      23                                                  Saldo
                      24                                                  Saldo
                      25                                                  Saldo
                      26                                                  Saldo
                      27                                                  Saldo
                      28                                                  Saldo
                      29                                                  Saldo
                      30                                                  Saldo
                      31                                                  Saldo
                      32                                                  Saldo
                      33                                                  Saldo
                      34                                                  Saldo
                      35                                                  Saldo
                      36                                                  Saldo
                      37                                                  Saldo
                      38                                                  Saldo
                      39                                                  Saldo
                      40      Rckgabe vom Inkassounternehmen/von einer inte...

                              Betrag Betrag_waehrung       Datum Kontonummer  \
dwh_country_id id     record
1              100654 3        35023             EUR  15.04.2010         NaN
                      4        17388             EUR  24.05.2012         NaN
                      5        17402             EUR  31.05.2012         NaN
                      6        17432             EUR  13.06.2012         NaN
                      7        17458             EUR  16.08.2012         NaN
                      8        17518             EUR  12.09.2012         NaN
                      9        17587             EUR  12.10.2012         NaN
                      10       18069             EUR  14.11.2012         NaN
                      11       18137             EUR  13.12.2012         NaN
                      12       18211             EUR  16.01.2013         NaN
                      13       18270             EUR  13.02.2013         NaN
                      14       18351             EUR  20.03.2013         NaN
                      15       18408             EUR  16.04.2013         NaN
                      16       18473             EUR  15.05.2013         NaN
                      17       18532             EUR  12.06.2013         NaN
                      18       18592             EUR  10.07.2013         NaN
                      19       18661             EUR  13.08.2013         NaN
                      20       18719             EUR  11.09.2013         NaN
                      21       18791             EUR  16.10.2013         NaN
                      22       18847             EUR  13.11.2013         NaN
                      23       18891             EUR  04.12.2013         NaN
                      24       18961             EUR  08.01.2014         NaN
                      25       19004             EUR  30.01.2014         NaN
                      26       17389             EUR  16.07.2012         NaN
                      27       19041             EUR  19.02.2014         NaN
                      28       19086             EUR  12.03.2014         NaN
                      29       19180             EUR  30.04.2014         NaN
                      30       19208             EUR  14.05.2014         NaN
                      31       19274             EUR  18.06.2014         NaN
                      32       19327             EUR  15.07.2014         NaN
                      33       19380             EUR  13.08.2014         NaN
                      34       19438             EUR  12.09.2014         NaN
                      35       19501             EUR  15.10.2014         NaN
                      36       19553             EUR  12.11.2014         NaN
                      37       19671             EUR  14.01.2015         NaN
                      38       19733             EUR  17.02.2015         NaN
                      39       19778             EUR  11.03.2015         NaN
                      40       19782             EUR  13.03.2015         NaN

                             Merkmal_eigenesMerkmal  Merkmal_id  \
dwh_country_id id     record
1              100654 3                         NaN           2
                      4                         NaN           2
                      5                         NaN           2
                      6                         NaN           2
                      7                         NaN           2
                      8                         NaN           2
                      9                         NaN           2
                      10                        NaN           2
                      11                        NaN           2
                      12                        NaN           2
                      13                        NaN           2
                      14                        NaN           2
                      15                        NaN           2
                      16                        NaN           2
                      17                        NaN           2
                      18                        NaN           2
                      19                        NaN           2
                      20                        NaN           2
                      21                        NaN           2
                      22                        NaN           2
                      23                        NaN           2
                      24                        NaN           2
                      25                        NaN           2
                      26                        NaN           2
                      27                        NaN           2
                      28                        NaN           2
                      29                        NaN           2
                      30                        NaN           2
                      31                        NaN           2
                      32                        NaN           2
                      33                        NaN           2
                      34                        NaN           2
                      35                        NaN           2
                      36                        NaN           2
                      37                        NaN           2
                      38                        NaN           2
                      39                        NaN           2
                      40                        NaN           2

                             Merkmal_merkmalOhneGeburtsdatum   Merkmal_typ  \
dwh_country_id id     record
1              100654 3                                  NaN  hauptmerkmal
                      4                                  NaN  untermerkmal
                      5                                  NaN  untermerkmal
                      6                                  NaN  untermerkmal
                      7                                  NaN  untermerkmal
                      8                                  NaN  untermerkmal
                      9                                  NaN  untermerkmal
                      10                                 NaN  untermerkmal
                      11                                 NaN  untermerkmal
                      12                                 NaN  untermerkmal
                      13                                 NaN  untermerkmal
                      14                                 NaN  untermerkmal
                      15                                 NaN  untermerkmal
                      16                                 NaN  untermerkmal
                      17                                 NaN  untermerkmal
                      18                                 NaN  untermerkmal
                      19                                 NaN  untermerkmal
                      20                                 NaN  untermerkmal
                      21                                 NaN  untermerkmal
                      22                                 NaN  untermerkmal
                      23                                 NaN  untermerkmal
                      24                                 NaN  untermerkmal
                      25                                 NaN  untermerkmal
                      26                                 NaN  untermerkmal
                      27                                 NaN  untermerkmal
                      28                                 NaN  untermerkmal
                      29                                 NaN  untermerkmal
                      30                                 NaN  untermerkmal
                      31                                 NaN  untermerkmal
                      32                                 NaN  untermerkmal
                      33                                 NaN  untermerkmal
                      34                                 NaN  untermerkmal
                      35                                 NaN  untermerkmal
                      36                                 NaN  untermerkmal
                      37                                 NaN  untermerkmal
                      38                                 NaN  untermerkmal
                      39                                 NaN  untermerkmal
                      40                                 NaN  untermerkmal

                             Merkmalcode Ratenart Ratenzahl not_creditworthy  \
dwh_country_id id     record
1              100654 3               KR        M        36            False
                      4               SG      NaN       NaN            False
                      5               SD      NaN       NaN            False
                      6               SD      NaN       NaN            False
                      7               SD      NaN       NaN            False
                      8               SD      NaN       NaN            False
                      9               SD      NaN       NaN            False
                      10              SD      NaN       NaN            False
                      11              SD      NaN       NaN            False
                      12              SD      NaN       NaN            False
                      13              SD      NaN       NaN            False
                      14              SD      NaN       NaN            False
                      15              SD      NaN       NaN            False
                      16              SD      NaN       NaN            False
                      17              SD      NaN       NaN            False
                      18              SD      NaN       NaN            False
                      19              SD      NaN       NaN            False
                      20              SD      NaN       NaN            False
                      21              SD      NaN       NaN            False
                      22              SD      NaN       NaN            False
                      23              SD      NaN       NaN            False
                      24              SD      NaN       NaN            False
                      25              SD      NaN       NaN            False
                      26              SD      NaN       NaN            False
                      27              SD      NaN       NaN            False
                      28              SD      NaN       NaN            False
                      29              SD      NaN       NaN            False
                      30              SD      NaN       NaN            False
                      31              SD      NaN       NaN            False
                      32              SD      NaN       NaN            False
                      33              SD      NaN       NaN            False
                      34              SD      NaN       NaN            False
                      35              SD      NaN       NaN            False
                      36              SD      NaN       NaN            False
                      37              SD      NaN       NaN            False
                      38              SD      NaN       NaN            False
                      39              SD      NaN       NaN            False
                      40              RI      NaN       NaN            False

                             not_creditworthy_US not_creditworthy_KRMLKWKX_US
dwh_country_id id     record
1              100654 3                    False                        False
                      4                    False                        False
                      5                    False                        False
                      6                    False                        False
                      7                    False                        False
                      8                    False                        False
                      9                    False                        False
                      10                   False                        False
                      11                   False                        False
                      12                   False                        False
                      13                   False                        False
                      14                   False                        False
                      15                   False                        False
                      16                   False                        False
                      17                   False                        False
                      18                   False                        False
                      19                   False                        False
                      20                   False                        False
                      21                   False                        False
                      22                   False                        False
                      23                   False                        False
                      24                   False                        False
                      25                   False                        False
                      26                   False                        False
                      27                   False                        False
                      28                   False                        False
                      29                   False                        False
                      30                   False                        False
                      31                   False                        False
                      32                   False                        False
                      33                   False                        False
                      34                   False                        False
                      35                   False                        False
                      36                   False                        False
                      37                   False                        False
                      38                   False                        False
                      39                   False                        False
                      40                   False                        False

In [ ]:
net_loans_exclude_US_outstanding_user.xs()

# Web Requests

In [ ]:
import logging
import httplib
httplib.HTTPConnection.debuglevel = 1

logging.basicConfig() # you need to initialize logging, otherwise you will not see anything from requests
logging.getLogger().setLevel(logging.DEBUG)
requests_log = logging.getLogger("requests.packages.urllib3")
requests_log.setLevel(logging.DEBUG)

In [56]:
payload={'_username':'sean.violante@lendico.de',
         '_password': '7642lottA!!',
        'login':'Login'}

headers = {'User-Agent': 'Mozilla/5.0'}
with requests.Session() as s:
    s.auth=('lendico_beta', 'p2pLend4every1')
    r1 = s.get('https://admin.lendico.de/admin')
    p = s.post('https://admin.lendico.de/admin/login_check', headers=headers, data=payload)
    # print the html returned or something more intelligent to see if it's a successful login page.
    "
    # An authorised request.
    r = s.get('https://admin.lendico.de/admin/loan-request/display-indebtedness-details/122367')
    print r.text

<!DOCTYPE html>
<html>
<head><script type="text/javascript">window.NREUM||(NREUM={}),__nr_require=function(e,n,t){function r(t){if(!n[t]){var o=n[t]={exports:{}};e[t][0].call(o.exports,function(n){var o=e[t][1][n];return r(o?o:n)},o,o.exports)}return n[t].exports}if("function"==typeof __nr_require)return __nr_require;for(var o=0;o<t.length;o++)r(t[o]);return r}({QJf3ax:[function(e,n){function t(e){function n(n,t,a){e&&e(n,t,a),a||(a={});for(var u=c(n),f=u.length,s=i(a,o,r),p=0;f>p;p++)u[p].apply(s,t);return s}function a(e,n){f[e]=c(e).concat(n)}function c(e){return f[e]||[]}function u(){return t(n)}var f={};return{on:a,emit:n,create:u,listeners:c,_events:f}}function r(){return{}}var o="nr@context",i=e("gos");n.exports=t()},{gos:"7eSDFh"}],ee:[function(e,n){n.exports=e("QJf3ax")},{}],3:[function(e,n){function t(e){return function(){r(e,[(new Date).getTime()].concat(i(arguments)))}}var r=e("handle"),o=e(1),i=e(2);"undefined"==typeof window.newrelic&&(newrelic=window.NREUM);var a=["setPageViewName","addPageAction","setCustomAttribute","finished","addToTrace","inlineHit","noticeError"];o(a,function(e,n){window.NREUM[n]=t("api-"+n)}),n.exports=window.NREUM},{1:12,2:13,handle:"D5DuLP"}],"7eSDFh":[function(e,n){function t(e,n,t){if(r.call(e,n))return e[n];var o=t();if(Object.defineProperty&&Object.keys)try{return Object.defineProperty(e,n,{value:o,writable:!0,enumerable:!1}),o}catch(i){}return e[n]=o,o}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],gos:[function(e,n){n.exports=e("7eSDFh")},{}],handle:[function(e,n){n.exports=e("D5DuLP")},{}],D5DuLP:[function(e,n){function t(e,n,t){return r.listeners(e).length?r.emit(e,n,t):(o[e]||(o[e]=[]),void o[e].push(n))}var r=e("ee").create(),o={};n.exports=t,t.ee=r,r.q=o},{ee:"QJf3ax"}],id:[function(e,n){n.exports=e("XL7HBI")},{}],XL7HBI:[function(e,n){function t(e){var n=typeof e;return!e||"object"!==n&&"function"!==n?-1:e===window?0:i(e,o,function(){return r++})}var r=1,o="nr@id",i=e("gos");n.exports=t},{gos:"7eSDFh"}],G9z0Bl:[function(e,n){function t(){var e=d.info=NREUM.info,n=f.getElementsByTagName("script")[0];if(e&&e.licenseKey&&e.applicationID&&n){c(p,function(n,t){n in e||(e[n]=t)});var t="https"===s.split(":")[0]||e.sslForHttp;d.proto=t?"https://":"http://",a("mark",["onload",i()]);var r=f.createElement("script");r.src=d.proto+e.agent,n.parentNode.insertBefore(r,n)}}function r(){"complete"===f.readyState&&o()}function o(){a("mark",["domContent",i()])}function i(){return(new Date).getTime()}var a=e("handle"),c=e(1),u=(e(2),window),f=u.document,s=(""+location).split("?")[0],p={beacon:"bam.nr-data.net",errorBeacon:"bam.nr-data.net",agent:"js-agent.newrelic.com/nr-632.min.js"},d=n.exports={offset:i(),origin:s,features:{}};f.addEventListener?(f.addEventListener("DOMContentLoaded",o,!1),u.addEventListener("load",t,!1)):(f.attachEvent("onreadystatechange",r),u.attachEvent("onload",t)),a("mark",["firstbyte",i()])},{1:12,2:3,handle:"D5DuLP"}],loader:[function(e,n){n.exports=e("G9z0Bl")},{}],12:[function(e,n){function t(e,n){var t=[],o="",i=0;for(o in e)r.call(e,o)&&(t[i]=n(o,e[o]),i+=1);return t}var r=Object.prototype.hasOwnProperty;n.exports=t},{}],13:[function(e,n){function t(e,n,t){n||(n=0),"undefined"==typeof t&&(t=e?e.length:0);for(var r=-1,o=t-n||0,i=Array(0>o?0:o);++r<o;)i[r]=e[n+r];return i}n.exports=t},{}]},{},["G9z0Bl"]);</script>
    <title>Admin Panel</title>
    <meta name="include_mode" content="async" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
                                <link rel="stylesheet" type="text/css" href="https://www.lendico.de/static/css/backend.css?fff6a0f74d6a5a0d8beffbb8d13ed0fb&amp;c=de" />

</head>
<body id="default_index" data-controller="BaseController">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
                    <ul class="nav">






                <li icon="icon-list" class="first dropdown">                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-list"></i>
                Loan Manager
        <b class="caret"></b>
    </a>
                                <ul class="menu_level_1 dropdown-menu dropdown-menu">






                <li icon="icon-list" class="dropdown-submenu first">                    <a href="#">
                    <i class="icon-list"></i>
                Loan Requests
    </a>
                                <ul class="menu_level_2 dropdown-menu">






                <li icon="icon-list" class="first">                    <a href="/admin/loan-request/list">
                    <i class="icon-list"></i>
                All Loan Requests
    </a>

        </li>






                <li icon="icon-list" class="dropdown-submenu">                    <a href="/admin/loan-request/review-requested">
                    <i class="icon-list"></i>
                Requests in Review
    </a>
                                <ul class="menu_level_3 dropdown-menu">






                <li icon="icon-list" class="first">                    <a href="/admin/loan-request/address-check">
                    <i class="icon-list"></i>
                Review Adress & Fraud check
    </a>

        </li>






                <li icon="icon-list">                    <a href="/admin/loan-request-review/no-bkr-score">
                    <i class="icon-list"></i>
                admin.header.menu.items.no_bkr_score
    </a>

        </li>






                <li icon="icon-list">                    <a href="/admin/loan-request-review/document-verification">
                    <i class="icon-list"></i>
                admin.header.menu.items.document_verification
    </a>

        </li>






                <li icon="icon-list" class="last">                    <a href="/admin/loan-request/scoring-postponed">
                    <i class="icon-list"></i>
                admin.header.menu.items.scoring_postponed
    </a>

        </li>

    </ul>

        </li>






                <li icon="icon-list">                    <a href="/admin/loan-request/fully-funded">
                    <i class="icon-list"></i>
                Fully Funded
    </a>

        </li>






                <li icon="icon-list">                    <a href="/admin/loan-request/scoring-failed">
                    <i class="icon-list"></i>
                Scoring Failed
    </a>

        </li>






                <li icon="icon-list" class="last">                    <a href="/admin/loan-request/borrower-verification-pending">
                    <i class="icon-list"></i>
                Borrower Verification Pending
    </a>

        </li>

    </ul>

        </li>






                <li icon="icon-list" class="dropdown-submenu">                    <a href="#">
                    <i class="icon-list"></i>
                Loans in Origination
    </a>
                                <ul class="menu_level_2 dropdown-menu">






                <li icon="icon-list" class="first last">                    <a href="/admin/loan/index">
                    <i class="icon-list"></i>
                Loans
    </a>

        </li>

    </ul>

        </li>






                <li icon="icon-list" class="dropdown-submenu last">                    <a href="#">
                    <i class="icon-list"></i>
                Active Loans
    </a>
                                <ul class="menu_level_2 dropdown-menu">






                <li icon="icon-list" class="first">                    <a href="/admin/loan/payback">
                    <i class="icon-list"></i>
                Loans
    </a>

        </li>






                <li icon="icon-signal">                    <a href="/admin/bank/payment-plan/loan?type=loan">
                    <i class="icon-signal"></i>
                Payment Plans
    </a>

        </li>






                <li icon="icon-list" class="last">                    <a href="/admin/investor-guarantee?type=loan">
                    <i class="icon-list"></i>
                Repayment For Guaranteed option
    </a>

        </li>

    </ul>

        </li>

    </ul>

        </li>






                <li icon="icon-group" class="dropdown">                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-group"></i>
                Users
        <b class="caret"></b>
    </a>
                                <ul class="menu_level_1 dropdown-menu dropdown-menu">






                <li icon="icon-listing" class="first">                    <a href="/admin/users/list/borrower">
                    <i class="icon-listing"></i>
                Borrower
    </a>

        </li>






                <li icon="icon-listing">                    <a href="/admin/users/list/lender">
                    <i class="icon-listing"></i>
                Lender
    </a>

        </li>






                <li icon="icon-listing">                    <a href="/admin/user/list-deleted">
                    <i class="icon-listing"></i>
                Deleted User
    </a>

        </li>






                <li icon="icon-listing">                    <a href="/admin/user/list-deactivated">
                    <i class="icon-listing"></i>
                Deactivated User
    </a>

        </li>






                <li icon="icon-listing" class="last">                    <a href="/admin/users/lender-upgrade-list/">
                    <i class="icon-listing"></i>
                Lender Upgrade
    </a>

        </li>

    </ul>

        </li>






                <li icon="icon-group" class="dropdown">                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-group"></i>
                CMS
        <b class="caret"></b>
    </a>

        </li>






                <li icon="icon-credit" class="dropdown">                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-credit"></i>
                OPS
        <b class="caret"></b>
    </a>
                                <ul class="menu_level_1 dropdown-menu dropdown-menu">






                <li icon="icon-group" class="first last">                    <a href="/admin/ops/ops-loan/user/list">
                    <i class="icon-group"></i>
                Ops Users
    </a>

        </li>

    </ul>

        </li>






                <li icon="icon-edit">                    <a href="/admin/state-machine/render/">
                    <i class="icon-edit"></i>
                State Machine
    </a>

        </li>






                <li icon="icon-edit" class="last dropdown">                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-edit"></i>
                Exports
        <b class="caret"></b>
    </a>

        </li>

    </ul>

            <ul class="nav pull-right">
                <form class="country-selector" action="/admin/switchCountry" method="POST"><select name="domain" onchange="this.form.submit()"><option value="http://admin.lendico.de">de</option></select> </form>
            </ul>
                    <ul class="nav pull-right">






                <li icon="icon-user" class="first dropdown">                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user"></i>
                System
        <b class="caret"></b>
    </a>
                                <ul class="menu_level_1 dropdown-menu dropdown-menu">






                <li icon="icon-wrench" class="first">                    <a href="/admin/system/configuration">
                    <i class="icon-wrench"></i>
                Configuration
    </a>

        </li>






                <li icon="icon-wrench" class="last">                    <a href="/admin/system/changePassword">
                    <i class="icon-wrench"></i>
                Change Password
    </a>

        </li>

    </ul>

        </li>






                <li class="last">                    <a href="/admin/logout">
                Logout
    </a>

        </li>

    </ul>

        </div>
    </div><!-- /navbar-inner -->
</div>

<div class="container-fluid">


<div id="flashContainer" class="container" >

                                        </div>
            Hello!
</div> <!-- /container -->
                              <script>var cfg = {"numberFormat":{"options":{"decimalSeparator":",","thousandsSeparator":".","currencySymbol":"\u20ac","currency":"EUR","currencyFormat":"#price# #currency#"}},"dateFormat":{"options":"dd.MM.yyyy"},"bid":{"options":{"unsecure_personal":{"multiple":"25,00"},"secure_personal":{"multiple":"25,00"},"unsecure_sme":{"multiple":"100,00"},"secure_sme":{"multiple":"100,00"}}},"trackingTagManagerFormTracking":{"el":"form","name":"trackingTagManagerFormTracking"},"trackingTagManagerNoBounce":{"el":"document","name":"trackingTagManagerNoBounce"}}</script><script src="https://www.lendico.de/static/js/jquery.js?9136b1f20bbc7187f1782ca45ed1e596&amp;c=de" ></script>
                                      <script src="https://www.lendico.de/static/js/bootstrap.js?ac51f6c39286da2c5d62e5a41d19aca8&amp;c=de" ></script>
                                      <script src="https://www.lendico.de/static/js/backend.js?3f2fe8dd6212fa4987e2b313fd5b3643&amp;c=de" ></script>
                    <!-- Modal -->
        <div class="modal fade" id="ajaxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Fill out the form to confirm the action</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"cb1904debb","applicationID":"2722258","transactionName":"MlVXZxBRDUNRB0NQWwsfdkYRRAxdHyNybRsEVFhaDB4HVVYFQlVAS1lbVwdI","queueTime":0,"applicationTime":221,"ttGuid":"","agentToken":"","atts":"HhJUEVhLHk0=","errorBeacon":"bam.nr-data.net","agent":"js-agent.newrelic.com\/nr-632.min.js"}</script></body>
</html>


HELLO
<h3>Indebtedness Check Results</h3>

<table class="table table-striped">
            <tr><th colspan="2">Indebtedness</th><th colspan="2">Indebtedness Ratio</th></tr>
        <tr><td>Net Debt</td><td>1.500,00 </td><td>Debt Ratio</td><td>0,94%</td></tr>
        <tr><td>Net Loan Values</td><td>0,00 </td><td>Debt Calculation</td><td>1500 / 1600</td></tr>
        <tr><td>Net Lendico Loan</td><td>1.500,00 </td><td></td><td></td></tr>
        <tr><td>Line of Credit</td><td>0,00 </td><td></td><td></td></tr>
        <tr><td>Additional Limit</td><td>0,00 </td><td></td><td></td></tr>
        <tr><td>Net Income</td><td>1.600,00 </td><td></td><td></td></tr>
        <tr><td>Creditworthy?</td><td>Yes</td><td></td><td></td></tr>
    </table>

In [77]:
(loan_requests_indebtedness.postcheck_data!='null').sum()

217

In [80]:
lrs=loan_requests_indebtedness.id_loan_request[loan_requests_indebtedness.postcheck_data!='null'].unique()

In [114]:
df1.columns

Index([u'Additional Limit',    u'Creditworthy?',   u'Line of Credit',
               u'Net Debt',       u'Net Income', u'Net Lendico Loan',
        u'Net Loan Values',               u'ad'],
      dtype='object')

In [82]:
lrs.shape

(215L,)

In [120]:
%run indebtedness.py

In [123]:
loan_requests_indebtedness.head()

,id_loan_request,loan_request_nr,fk_user,id,principal_amount,net_income,postcheck_data,indebt:actual,indebt:expected,indebt:operator,...,add_Betrag,LOC_Betrag,net_loan_Betrag,loan_gross_amount,loan_gross_outstanding_amount,interest,interest_allowance,net_value,net_debt,debt_ratio
0,16349,504978105,26190,98005,5000,1784,null,NaN,NaN,None,...,3700,NaN,47484,61608,33436,14124,3547.00,29889.00,38589.00,21.630605
1,16349,504978105,26190,98005,5000,1784,"[{""status"":true,""actual"":""salaried"",""expected""...",NaN,NaN,None,...,3700,NaN,47484,61608,33436,14124,3547.00,29889.00,38589.00,21.630605
2,120607,466264165,26190,98005,20000,1784,null,NaN,NaN,None,...,3700,NaN,47484,61608,33436,14124,3547.00,29889.00,53589.00,30.038677
3,120607,466264165,26190,98005,20000,1784,"[{""status"":true,""actual"":""salaried"",""expected""...",NaN,NaN,None,...,3700,NaN,47484,61608,33436,14124,3547.00,29889.00,53589.00,30.038677
4,35214,951059135,46471,101247,3000,2100,null,NaN,NaN,None,...,NaN,NaN,42931,55620,28847,12689,3415.04,25439.38,28439.38,13.542562

In [124]:
loan_requests_indebtedness_web=loan_requests_indebtedness.merge(df2.reset_index(),on='id_loan_request')

In [125]:
loan_requests_indebtedness_web.to_clipboard()

In [122]:
df2.head()

,Additional Limit,Creditworthy?,Debt Ratio,Line of Credit,Net Debt,Net Income,Net Lendico Loan,Net Loan Values
id_loan_request,,,,,,,,
16349,3700,1,21.65,0,38624.05,1784,5000,29924.05
120607,3700,1,30.06,0,53624.05,1784,20000,29924.05
35214,0,1,13.57,0,28487.86,2100,3000,25487.86
119079,0,1,15.95,0,33487.86,2100,8000,25487.86
126783,0,1,14.76,0,30987.86,2100,5500,25487.86

In [117]:
df1['CreditworthyX']=(df1['Creditworthy?']=='Yes')

In [119]:
%debug

> c:\users\sean violante\documents\projects\lendico\projects\indebtedness\src\indebtedness.py(350)get_web_indebtedness()
    349     del df['Debt Calculation']
--> 350     data['Creditworthy?']=(data['Creditworthy?']=='Yes')
    351     for c in cols:

ipdb> q

In [121]:
%time df2=get_web_indebtedness(lrs)

Wall time: 1min 14s

In [99]:
df1=pd.DataFrame.from_records(raw,index='id_loan_request')

In [102]:
df1['ad']=df1['Additional Limit'].astype(np.double)

In [108]:
del df1[ 'Debt Ratio']

In [109]:
df1.astype(np.double).head()

ValueError: could not convert string to float: Yes

In [81]:
print loan_requests1.shape
print loan_requests_indebtedness.shape

(579, 11)
(446, 25)

In [78]:
loan_requests_indebtedness.head()

,id_loan_request,loan_request_nr,fk_user,id,principal_amount,net_income,postcheck_data,indebt:actual,indebt:expected,indebt:operator,...,add_Betrag,LOC_Betrag,net_loan_Betrag,loan_gross_amount,loan_gross_outstanding_amount,interest,interest_allowance,net_value,net_debt,debt_ratio
0,16349,504978105,26190,98005,5000,1784,null,NaN,NaN,None,...,3700,NaN,47484,61608,33436,14124,3547.00,29889.00,38589.00,21.630605
1,16349,504978105,26190,98005,5000,1784,"[{""status"":true,""actual"":""salaried"",""expected""...",NaN,NaN,None,...,3700,NaN,47484,61608,33436,14124,3547.00,29889.00,38589.00,21.630605
2,120607,466264165,26190,98005,20000,1784,null,NaN,NaN,None,...,3700,NaN,47484,61608,33436,14124,3547.00,29889.00,53589.00,30.038677
3,120607,466264165,26190,98005,20000,1784,"[{""status"":true,""actual"":""salaried"",""expected""...",NaN,NaN,None,...,3700,NaN,47484,61608,33436,14124,3547.00,29889.00,53589.00,30.038677
4,35214,951059135,46471,101247,3000,2100,null,NaN,NaN,None,...,NaN,NaN,42931,55620,28847,12689,3415.04,25439.38,28439.38,13.542562

In [60]:
soup = BeautifulSoup(r.text, "html")
table = soup.find('table', {'class': 'table table-striped'})

In [61]:
table

<table class="table table-striped">
<tr><th colspan="2">Indebtedness</th><th colspan="2">Indebtedness Ratio</th></tr>
<tr><td>Net Debt</td><td>1.500,00 </td><td>Debt Ratio</td><td>0,94%</td></tr>
<tr><td>Net Loan Values</td><td>0,00 </td><td>Debt Calculation</td><td>1500 / 1600</td></tr>
<tr><td>Net Lendico Loan</td><td>1.500,00 </td><td></td><td></td></tr>
<tr><td>Line of Credit</td><td>0,00 </td><td></td><td></td></tr>
<tr><td>Additional Limit</td><td>0,00 </td><td></td><td></td></tr>
<tr><td>Net Income</td><td>1.600,00 </td><td></td><td></td></tr>
<tr><td>Creditworthy?</td><td>Yes</td><td></td><td></td></tr>
</table>

In [ ]:
th = table.find('th', text='Indebtedness:')

In [62]:
tdList = table.findAll('td')

In [74]:

td_key=map(lambda x: x.text,tdList[0::2])
td_value=map(lambda x: x.text,tdList[1::2])
td_value=[re.sub(u'[.%\u20ac]','',td) for td in td_value]
td_value=[re.sub(u' \u20ac','',td) for td in td_value]
td_value=[re.sub(',','.',td) for td in td_value]
data=dict(zip(td_key,td_value))
del data['']
data

{u'Additional Limit': u'0.00 ',
 u'Creditworthy?': u'Yes',
 u'Debt Calculation': u'1500 / 1600',
 u'Debt Ratio': u'0.94',
 u'Line of Credit': u'0.00 ',
 u'Net Debt': u'1500.00 ',
 u'Net Income': u'1600.00 ',
 u'Net Lendico Loan': u'1500.00 ',
 u'Net Loan Values': u'0.00 '}

In [67]:
data

{u'': u'',
 u'Additional Limit': u'0,00 \u20ac',
 u'Creditworthy?': u'Yes',
 u'Debt Calculation': u'1500 / 1600',
 u'Debt Ratio': u'0,94%',
 u'Line of Credit': u'0,00 \u20ac',
 u'Net Debt': u'1.500,00 \u20ac',
 u'Net Income': u'1.600,00 \u20ac',
 u'Net Lendico Loan': u'1.500,00 \u20ac',
 u'Net Loan Values': u'0,00 \u20ac'}

In [69]:
data

{u'Additional Limit': u'0,00 \u20ac',
 u'Creditworthy?': u'Yes',
 u'Debt Calculation': u'1500 / 1600',
 u'Debt Ratio': u'0,94%',
 u'Line of Credit': u'0,00 \u20ac',
 u'Net Debt': u'1.500,00 \u20ac',
 u'Net Income': u'1.600,00 \u20ac',
 u'Net Lendico Loan': u'1.500,00 \u20ac',
 u'Net Loan Values': u'0,00 \u20ac'}

## Investigation

In [ ]:
merkmale[merkmale.Merkmal_merkmalOhneGeburtsdatum=='ja'].to_clipboard(encoding='UTF-8')

In [ ]:
identify which

In [348]:
d.head()

,dwh_country_id,id,record,Beschreibung,Betrag,Betrag_waehrung,Datum,Kontonummer,Merkmal_eigenesMerkmal,Merkmal_id,Merkmal_merkmalOhneGeburtsdatum,Merkmal_typ,Merkmalcode,Ratenart,Ratenzahl,not_creditworthy
0,1,99207,10,XX,NaN,NaN,NaN,NaN,NaN,11,NaN,hauptmerkmal,XX,NaN,NaN,False
1,1,99207,11,Rahmenkredit,500,EUR,UNBEFRISTET,NaN,NaN,11,NaN,untermerkmal,RK,NaN,NaN,False
2,1,99207,12,XX,NaN,NaN,NaN,NaN,NaN,12,NaN,hauptmerkmal,XX,NaN,NaN,False
3,1,99207,13,Rahmenkredit,300,EUR,UNBEFRISTET,NaN,NaN,12,NaN,untermerkmal,RK,NaN,NaN,False
4,1,99219,12,XX,NaN,NaN,NaN,NaN,NaN,10,NaN,hauptmerkmal,XX,NaN,NaN,False

In [86]:
loan_requests1[loan_requests1.fk_user==137886]

,id_loan_request,loan_request_nr,fk_user,id,principal_amount,net_income,postcheck_data,indebt:actual,indebt:expected,indebt:operator,indebt:status
349,122362,342270959,137886,99550,1500,865,null,NaN,NaN,None,None
350,122362,342270959,137886,99550,1500,865,"[{""status"":false,""actual"":""student"",""expected""...",1.20,14,<=,True
367,123271,626638404,137886,99550,1000,865,"[{""status"":false,""actual"":""student"",""expected""...",1.73,14,<=,True
370,123271,626638404,137886,99550,1000,865,null,NaN,NaN,None,None

In [397]:
map(lambda x:pd.Series(x[1].unique(),name=x[0]),merkmale[
        [u'Beschreibung',  u'Betrag_waehrung','Datum', 
         'Merkmal_eigenesMerkmal','Merkmal_merkmalOhneGeburtsdatum',
         'Merkmal_typ',
         u'Merkmalcode',
       u'Ratenart', u'Ratenzahl' ]].iteritems())

[0                                      Abwicklungskonto
 1                                                 Saldo
 2                                     titulierter Saldo
 3     Glubigerbefriedigung ausgeschlossen/nicht nac...
 4                                                Kredit
 5                                              Erledigt
 6                                             Girokonto
 7                                           Kreditkarte
 8                          Kreditkarte mit Kreditrahmen
 9                                    Anfrage zum Kredit
 10    Schuldner ist seiner Pflicht zur Abgabe der Ve...
 11               grundpfandrechtlich gesicherter Kredit
 12                               Anfrage zur Brgschaft
 13                                              Leasing
 14    Investitionskredit (fr Selbstndige und Klein...
 15                                                   XX
 16                                         Rahmenkredit
 17                          Mitverpflichtung fr Kredit
 18              Brgschaft fr Kredit mit Endflligkeit
 19                                 Kredit zum Girokonto
 20                             Kredit mit Endflligkeit
 21    grundpfandrechtlich gesicherter Kredit (ohne B...
 22                      Saldo nach Gesamtflligstellung
 23    bergabe an ein Inkassounternehmen/eine intern...
 24    Glubigerbefriedigung nach dem Inhalt des Verm...
 25    Betriebsmittelkreditlinie (fr Selbstndige un...
 26                                Anfrage zum Girokonto
 27    Anfrage Betriebsmittelkreditlinie (fr Selbst...
 28    uneinbringlicher Saldo / Einzug unwirtschaftli...
 29                          Restschuldbefreiung erteilt
 30                                    Forderungsverkauf
 31    Nichtabgabe der Vermgensauskunft oder Haftbefehl
 32                                Widerspruch zum Saldo
 33                              Anfrage zur Kreditkarte
 34    uneinbringliche titulierte Forderung / Einzug ...
 35    Glubigerbefriedigung nicht innerhalb eines Mo...
 36    Brgschaft fr Kredit oder Mobilien-Leasing/Mi...
 37                      Restschuldbefreiung angekndigt
 38                            Anfrage Kreditkonditionen
 39                          Insolvenzverfahren erffnet
 40                                  Anfrage zum Leasing
 41    Rckgabe vom Inkassounternehmen/von einer inte...
 42    Mitverpflichtung fr grundpfandrechtlich gesic...
 43                        Insolvenzverfahren abgewiesen
 44                 Anfrage Kreditkarte mit Kreditrahmen
 45                                       Saldovergleich
 46                Investitionskredit (fr Freiberufler)
 47         Betriebsmittelkreditlinie (fr Freiberufler)
 48           Persnliche Brgschaft fr ein Unternehmen
 49                          Restschuldbefreiung versagt
 50           Bauspardarlehn mit Verpflichtungserklrung
 51    Anfrage zum grundpfandrechtlich gesicherten Kr...
 52                                     Forward-Darlehen
 53    Anfrage persnliche Brgschaft fr ein Unterne...
 54    Anfrage Betriebsmittelkreditlinie (fr Freiber...
 55        Mitverpflichtung fr Kredit mit Endflligkeit
 56                        Insolvenzverfahren aufgehoben
 57    Anfrage Investitionskredit (fr Selbstndige u...
 Name: Beschreibung, dtype: object, 0    NaN
 1    EUR
 Name: Betrag_waehrung, dtype: object, 0       02.12.2006
 1       31.03.2011
 2       30.06.2011
 3       30.09.2011
 4       31.03.2012
 5       30.09.2012
 6       31.01.2013
 7       28.02.2013
 8       31.03.2013
 9       30.04.2013
 10      31.05.2013
 11      30.06.2013
 12      31.07.2013
 13      31.08.2013
 14      30.09.2013
 15      31.10.2013
 16      30.11.2013
 17      31.12.2013
 18      31.01.2014
 19      28.02.2014
 20      31.03.2014
 21      30.04.2014
 22      31.05.2014
 23      30.06.2014
 24      31.07.2014
 25      31.08.2014
 26      30.09.2014
 27      31.10.2014
 28      30.11.2014
 29      31.12.2014
            ...
 3613    06.04.2006
 3614    02.11.2005
 3615    29.01.2007
 3616    24.01.2010
 3617    09.10.2003
 3618    11.01.1995
 3619    31.08.2023
 3620    09.07.1996
 3621    02.10.1998
 3622    11.06.2002
 3623    15.09.2017
 3624    04.09.2007
 3625    30.09.1994
 3626    15.06.2004
 3627    20.10.2002
 3628    16.07.2004
 3629    28.02.2019
 3630    31.12.2017
 3631    23.02.1994
 3632    10.09.2006
 3633    27.11.2011
 3634    06.01.2013
 3635    06.08.2004
 3636    30.09.2027
 3637    29.05.2001
 3638    26.09.2002
 3639    28.08.2002
 3640    19.06.2000
 3641    26.03.2002
 3642    28.09.2004
 Name: Datum, dtype: object, 0    NaN
 1     ja
 Name: Merkmal_eigenesMerkmal, dtype: object, 0    NaN
 1     ja
 Name: Merkmal_merkmalOhneGeburtsdatum, dtype: object, 0          hauptmerkmal
 1          untermerkmal
 2         einzelmerkmal
 3    erledigungsmerkmal
 Name: Merkmal_typ, dtype: object, 0     KW
 1     SD
 2     SE
 3     EV
 4     KR
 5     ER
 6     GI
 7     CC
 8     CR
 9     AK
 10    S1
 11    HP
 12    AB
 13    ML
 14    K4
 15    XX
 16    RK
 17    MA
 18    BX
 19    KG
 20    KX
 21    HY
 22    SG
 23    UI
 24    S2
 25    K2
 26    AG
 27    A2
 28    US
 29    RB
 30    SZ
 31    HB
 32    WS
 33    AC
 34    UF
 35    S3
 36    BU
 37    RA
 38    KK
 39    IE
 40    AL
 41    RI
 42    MY
 43    IA
 44    AR
 45    SV
 46    K3
 47    K1
 48    K7
 49    RV
 50    HN
 51    AW
 52    HF
 53    A7
 54    A1
 55    MX
 56    IS
 57    A4
 Name: Merkmalcode, dtype: object, 0    NaN
 1      M
 2      J
 Name: Ratenart, dtype: object, 0      NaN
 1       48
 2       84
 3       69
 4       36
 5       60
 6       49
 7       24
 8       15
 9       72
 10      12
 11     120
 12      78
 13      59
 14      54
 15      23
 16      57
 17      42
 18      29
 19       6
 20      79
 21      37
 22      13
 23      73
 24      62
 25      96
 26       8
 27      19
 28      83
 29      10
       ...
 127    148
 128    134
 129     43
 130    124
 131    142
 132     67
 133    114
 134    130
 135    136
 136      1
 137    157
 138      7
 139    178
 140    231
 141    132
 142    122
 143     76
 144    129
 145    179
 146    236
 147    118
 148    167
 149    150
 150    112
 151    101
 152    139
 153    632
 154    141
 155    181
 156    355
 Name: Ratenzahl, dtype: object]

In [87]:
scoring[scoring.fk_user==137886]

,dwh_country_id,id,fk_user,request,response,provider_name,is_failed,ignore_for_scoring,score,data_accessible_by,created_at,updated_at,dwh_created,dwh_last_modified,dwh_row_hash,is_latest
2381,1,99550,137886,"<?xml version=""1.0"" encoding=""UTF-8""?>\n<Schuf...","s:6449:""<?xml version=""1.0"" encoding=""UTF-8"" s...",score.provider.schufa,0,0,7596,4.611686e+18,2015-07-11 21:10:02,2015-07-14 14:08:51,2015-07-11 21:14:06.470314,2015-07-14 14:10:47.749388,2ddc164d16d9ceb3c9617bc3b17fab20,1

In [293]:
merkmale.Merkmal_typ.unique()

array(['hauptmerkmal', 'untermerkmal', 'einzelmerkmal',
       'erledigungsmerkmal'], dtype=object)

In [219]:
scoring_ind['response_x'][(scoring_ind['response_root'].isnull())].unique()

array([u'ANONYMOUS_REQUEST', u'deleted_user'], dtype=object)

In [258]:
merkmale.to_clipboard()

In [214]:
scoring_ind.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4305 entries, (1, 99213) to (1, 100774)
Data columns (total 18 columns):
fk_user               4305 non-null int64
request               4305 non-null object
response              4305 non-null object
provider_name         4305 non-null object
is_failed             4305 non-null int64
ignore_for_scoring    4305 non-null int64
score                 4305 non-null object
data_accessible_by    4305 non-null float64
created_at            4305 non-null datetime64[ns]
updated_at            4305 non-null datetime64[ns]
dwh_created           4305 non-null datetime64[ns]
dwh_last_modified     4305 non-null datetime64[ns]
dwh_row_hash          4305 non-null object
is_latest             4305 non-null int64
response_chk          4305 non-null object
response_x            4305 non-null object
response_len          4305 non-null int64
response_root         3707 non-null object
dtypes: datetime64[ns](4), float64(1), int64(5), object(8)
memory usage: 651.7+ KB

In [205]:
merkmale.iloc[3]

,Beschreibung,Betrag,Betrag_waehrung,Datum,Merkmal_typ,Merkmalcode,Merkmal_id
0,Girokonto,NaN,NaN,NaN,hauptmerkmal,GI,1
1,Abwicklungskonto,NaN,NaN,06.05.2013,hauptmerkmal,KW,2
2,Saldo,135,EUR,06.05.2013,untermerkmal,SD,2
3,Saldo,153,EUR,28.10.2013,untermerkmal,SD,2